html{
  --title: #f2f3f5;
  --text: #e1e2e5;
  --text-secondary: #c1c2c5;
  --wallpaper: rgb(255, 92, 0);
  --wallpaper-secondary: rgb(0, 102, 255);
  /* --wallpaper: rgb(204, 30, 204);
  --wallpaper-secondary: rgb(0, 110, 255); */
  /*--wallpaper: rgb(212, 120, 35);
  --wallpaper: rgb(92, 0, 128);
  --wallpaper-secondary: rgb(29, 131, 190); */
  --background: #f2f3f5;
  --background-secondary: #fff;

}
body {
  cursor: context-menu(none);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  font-weight: 700;
  font-size: 46px;
  color: var(--title);
  text-align: center;
}

h2{
  font-weight: 600;
  font-size: 32px;
  color: var(--title);
  text-align: center;
}
p {
  font-weight: 500;
  font-size: 28px;
  color: var(--text);
}

li{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.rules, .inputKeyBG{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 10px;
  backdrop-filter: blur(2.4rem);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(to right top, rgba(255, 230, 200, 0.5) , rgba(255, 255, 255, 0.4));
  /* height: 50px; */
  width: 90%;
}
.rules > p{
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.levels{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 10px;
  backdrop-filter: blur(2.4rem);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(to right top, rgba(255, 230, 200, 0.5) , rgba(255, 255, 255, 0.4));
  width: 70%;
}

.textinho{
  text-align: center;
  margin: 20px;
  font-size: 16px;
  color: #fff;
}

div > p.blank{
  color: transparent;
}

.levels > p{
  font-size: 24px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}


.inputKeyBG{
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 70px; */
  width: 200px;
}

.inputText{
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.inputKey{
  display: flex;
  text-align: center;
  font-size: 24px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  margin-bottom: 20px;
  width: 220px;
}

.keyCheck{
  transition: 500ms;
  border: none;
  border-radius: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(to right top, rgba(255, 255, 255) , rgb(255, 255, 255));
  margin-bottom: 20px;
  width: 180px;
  height: 30px;
  cursor: pointer;
}

.keyCheck:hover{
  transition: 500ms;
  background: linear-gradient(to right top, rgb(0, 0, 0) , rgb(0, 0, 0));
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 1);
  border: none;
  color: #fff;
}

.bdTitle{
  font-size: 32px;
}

.bdSubtitle{
  color: #fff;
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}



.mainHome, .mainBirthday{
  display: none;
}

.mainCorrent{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right top, var(--wallpaper), var(--wallpaper-secondary));
  width: 100vw;
  height: 100vh;
}

.glass, .glassBD{
  background: rgba(0, 0, 0, 0.1);
  width: 48rem;
  height: 48rem;
  border-radius: 1.4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2.4rem);
  /* background: linear-gradient(to right bottom, rgba(50,50,50, 0.5), rgba(50,50,50, 0.3)); */
}

.glassBD{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48rem;
  height: auto;
}

.glassLogin{
  background: #fff;
  width: 30vw;
  height: 60vh;
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  background: linear-gradient(to right bottom, rgba(50,50,50, 0.5), rgba(50,50,50, 0.3));
}
.circle1, .circle2{
  background: #fff;
  background: linear-gradient(to right bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.5));
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1{
  top: 5%;
  right: 20%;
}

.circle2{
  bottom: 5%;
  left: 20%;
}


.itemBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6.5rem;
  margin: 0;
  padding: 0;
}

.title{
  margin: 0;
  padding: 0;
}

.years{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.days{
  margin: 0;
  padding: 0;
}

.achievements{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.listItem, .listItemYear{
  margin-bottom: 0.6rem;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: linear-gradient(to right bottom, rgba(200, 235, 255, 0.4),rgba(255, 255, 255, 0.4));
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  
}

.listItem2{
  display: none;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .itemYear{
  margin: 0;
  padding: 0;
  font-size: 32px;
}

.listItemYear{
  background: linear-gradient(to right top, rgba(255, 230, 200, 0.5) , rgba(255, 255, 255, 0.4));
}

.itemDone{
  margin: 0;
  padding: 0;
  font-size: 32px;
  color: var(--text);
  text-decoration-line: line-through;
}

.date1, .date2, .date3, .date4, .date5, .date6, .date7, .date8, .date9, .date10, .date11, .dateYear{
  font-size: 18px;;
}

.dateDone{
  font-size: 18px;;
  color: var(--text);
  text-decoration-line: line-through;
}

.addMore{
  transition: 500ms;
  /* display: flex; */
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: var(--title);
  height: 2.4rem;
  width: 8rem;

  bottom: 3rem;
  border: none;
  
  padding: none;
  border-radius: 50px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.addMore:hover{
  transition: 500ms;
  background-color: var(--text);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.add1, .add2{
  position: absolute;
  background-color: var(--background);
  width: 1.2rem;
  height: 0.2rem;
  border-radius: 5rem;
}
.add2{
  transform: rotate(90deg);
}


.progressBarMain{
  margin: 0.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 1.8rem;
  width: 100%;
}

.progressBar{
  background: linear-gradient(to right bottom, rgba(200, 235, 255, 0.4), 
    rgba(200, 235, 255, 0.3));
  width: 90%;
  height: 1.6rem;
  border-radius: 50px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.correntProgress{
  background: linear-gradient(33deg, rgba(200, 235, 255, 0.9) 21%, rgba(255, 255, 255, 0.7));
  height: 100%;
  border-radius: 50px;
}

.progressBarMain > p {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}

.dev{
  display: flex;
  justify-content: center ;
  align-items: center;
}

.dev > h2{
  margin-left: 10px;
}

/* .hover{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.hover > h1{
  margin: 0;
  padding: 0;
  color: #000;
}

.hover > h2{
  margin: 0;
  padding: 0;
  color: #000;
} */

.user{
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  width: 14rem;
  height: 4rem;
  right: 2rem;
  bottom: 7rem;
  border-radius: 50px;
  background: #fff;
  backdrop-filter: blur(2rem);
  background: linear-gradient(to right bottom, rgba(255,255, 255, 0.5), rgba(255,255, 255, 0.3));
  cursor: pointer;
}

.photoUser{
  position: fixed;
  margin: 0;
  padding: 0;
  left: 7.5px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* background: #fff; */
  backdrop-filter: blur(2rem);
  background: linear-gradient(to right bottom, rgba(255,255, 255, 0.3), rgba(255,255, 255, 0.6));
}

.nameUser{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-left: 1.2rem;
}

.nameUser > p{
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.userMobile{
  display: none;
}

.loginBox{
  margin: 15px 50px;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: linear-gradient(to right bottom, rgba(255,255, 255, 0.2), rgba(255, 255, 255, 0.1));

  border-radius: 15px;
}

.loginInput{
  display: flex;
  margin: 0;
  padding-left: 10px;
  border: none;
  align-content: center;
  justify-content: center;
  height: 4rem;
  width: 18rem;
  font-weight: 500;
  font-size: 28px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  color: #0000004d;

}

.entrar{
  display: flex;
  align-content: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  margin: 40px;
  height: 60px;
  width: 300px;
  border-radius: 15px;
  transition: 1s;
  cursor: pointer;
}

.entrar > h2{
  margin: 0;
  padding-top: 5px;
  transition: 1s;
  color: #202020;  
}

.entrar:hover{
  transition: 1s;
  background: rgba(0, 0, 0, 0.5);
}

.entrar:hover > h2{
  transition: 1s;
  color: #f1f2f5;
}

.countdown{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  background: linear-gradient(to right top, var(--wallpaper), var(--wallpaper-secondary));
  
}

.glass, .countdown{
  overflow: hidden;
}

.countdown > p{
  color: #f2f3f5;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 10px;
}

.button{
  transition: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  border-radius: 15px;
  background: linear-gradient(to right top, var(--wallpaper), var(--wallpaper-secondary));
  cursor: pointer;
  box-shadow: 3px 2px 3px rgb(60, 70, 170);
}

.button > a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.button:hover{
  transition: 200ms;
  width: 310px;
  height: 45px;
  box-shadow: 4px 4px 4px rgb(60, 70, 170);
}

footer{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  bottom: 0px;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(to right top, rgba(255, 255, 255, 0.5) , rgb(255, 255, 255, 0.2));
}

.pageNotCorrent{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 90px;
  height: 40px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  border: 4px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(2.4rem);
  cursor: pointer;
}

.pageCorrent{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 90px;
  height: 40px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  border: 4px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  background: linear-gradient(to right top, rgba(255, 255, 255, 0.5) , rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(2.4rem);
  cursor: pointer;

}

.homeBt > p, .pageCorrent > p, .pageNotCorrent > p{
  color: #fff;
  font-size: 26px;
}

@media(max-width:900px){

  .pageLanding{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }

  .main{
    margin: 0;
    padding: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .glass, .glassBD{
    margin: 0;
    padding: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0rem);
    border-radius: 0px;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  }

  .circle1, .circle2{
    position: absolute;
    height: 10rem;
    width: 10rem;
  }

  .circle1{
    top: 3%;
    right: 2%;
  }

  .circle2{
    bottom: 3%;
    left: 2%;
  }

  .header{
    top: 0;
    margin: 0;
    padding: 0;
  }

  .title{
    margin: 0;
    padding: 0;
    top: 0;
    font-size: 1.4rem;
  }

  .days{
    font-size: 2rem;
  }

  .achievements{
    width: 100%;
  }

  .listItem, .listItemYear{
    height: 4.6rem;
    /*border-radius: 0px;
    margin: 0; */
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
  }

  #listSt{
    
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    
  }
  #listLast{
    
  }
  .listItemYear{
    margin-top: 0.4rem;
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(to right top, rgba(255, 230, 200, 0.5) , rgba(200, 235, 255, 0.4));
  }

  .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item20, .item11, .itemDone, .itemYear{
    margin-top: 0.8rem;
    font-size: 1.4rem;
  }

  .date1, .date2, .date3, .date4, .date5, .date6, .date7, .date8, .date9, .date10, .date11, .dateDone, .dateYear{
    font-size: 0.6rem;
  }

  .progressBar{
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }

  .progressBarMain > p {
    margin: 0;
    padding: 0;
  }

  .dev > p{
    font-size: 0.8rem;
  }

  .dev > h2{
    font-size: 0.8rem;
  }

  .user{
    display: none;
  }

  .userMobile{
    display: none;
    /* position: absolute; */
    align-items: center;  
    width: 95%;
    height: 4rem;
    border-radius: 50px;
    background: #fff;
    backdrop-filter: blur(2rem);
    background: linear-gradient(to right bottom, rgba(255,255, 255, 0.2), rgba(255,255, 255, 0.1));
  }

  .userMobile > a{
    /* position: absolute; */
    margin: 0;
    padding: 0;
    margin-left: 7.5px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* background: #fff; */
    backdrop-filter: blur(2rem);
    background: linear-gradient(to right bottom, rgba(255,255, 255, 0.3), rgba(255,255, 255, 0.6));
  }
  
  .userMobile > div{
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-direction: column; */
    margin-left: 1rem;
  }
  
  .userMobile > div > p{
    margin: 0;
    padding: 6px;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  
  /* .header{
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 6rem;
    width: 100vw;
  }
  

  

  .years{
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
  }

  .days{
    font-size: 1.4rem;
  }

  

  .list{
    width: 95vw;
  }
  
  

  /* .item1, .item2, .itemDone{
    margin-top: 0.4rem;
    font-size: 1.4rem;
  }

  .date1, .date2, .dateDone{
    font-size: 0.6rem;
  }

  .done{
    width: 7rem;
    font-size: 0.8rem;
  }

  .addMore{
    left: 33%;
    width: 33%;
    height: 2.4rem;
    bottom: 4rem;
  }

  .add1, .add2{
    width: 1.2rem;
    height: 0.2rem;
    border-radius: 5rem;
  }

  .progressBarMain{
    background: var(--background);
    position: absolute;
    width: 100vw;
    height: 1.4rem;
    border-radius: 0;
    border: none;
    box-shadow: none;
    top: 90px;
  }

  .progressBar{
    height: 1.2rem;
  }

  
*/
 
}

@media(max-height:800px){

  .pageLanding{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }

  .main{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .glass{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0rem);
    border-radius: 0px;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  }

  .circle1, .circle2{
    position: absolute;
    height: 10rem;
    width: 10rem;
  }

  .circle1{
    top: 3%;
    right: 2%;
  }

  .circle2{
    bottom: 3%;
    left: 2%;
  }

  .title{
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
  }

  .days{
    font-size: 2rem;
  }

  .achievements{
    width: 100%;
  }

  .listItem, .listItemYear{
    height: 4.6rem;
    /*border-radius: 0px;
    margin: 0; */
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
  }

  #listSt{
    
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    
  }
  #listLast{
    
  }
  .listItemYear{
    margin-top: 0.4rem;
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(to right top, rgba(255, 230, 200, 0.5) , rgba(200, 235, 255, 0.4));
  }

  .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item20, .item11, .itemDone, .itemYear{
    margin-top: 0.8rem;
    font-size: 1.4rem;
  }

  .date1, .date2, .date3, .date4, .date5, .date6, .date7, .date8, .date9, .date10, .date11, .dateDone, .dateYear{
    font-size: 0.6rem;
  }

  .progressBar{
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }

  .progressBarMain > p {
    margin: 0;
    padding: 0;
  }

  .dev > p{
    font-size: 0.8rem;
  }

  .dev > h2{
    font-size: 0.8rem;
  }

  .user{
    display: none;
  }

  .userMobile{
    display: none;
    /* position: absolute; */
    align-items: center;  
    width: 95%;
    height: 4rem;
    border-radius: 50px;
    background: #fff;
    backdrop-filter: blur(2rem);
    background: linear-gradient(to right bottom, rgba(255,255, 255, 0.2), rgba(255,255, 255, 0.1));
  }

  .userMobile > a{
    /* position: absolute; */
    margin: 0;
    padding: 0;
    margin-left: 7.5px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* background: #fff; */
    backdrop-filter: blur(2rem);
    background: linear-gradient(to right bottom, rgba(255,255, 255, 0.3), rgba(255,255, 255, 0.6));
  }
  
  .userMobile > div{
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-direction: column; */
    margin-left: 1rem;
  }
  
  .userMobile > div > p{
    margin: 0;
    padding: 6px;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }}