html{
  --title: #f2f3f5;
  --text: #e1e2e5;
  --text-secondary: #c1c2c5;
  --wallpaper: rgb(92, 0, 128);
  --wallpaper-secondary: rgb(29, 131, 190);
  --background: #f2f3f5;
  --background-secondary: #fff;

}
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  font-weight: 700;
  font-size: 46px;
  color: var(--title);
  text-align: center;
}

h2{
  font-weight: 600;
  font-size: 32px;
  color: var(--title);
  text-align: center;
}
p {
  font-weight: 500;
  font-size: 28px;
  color: var(--text);
}

li{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}



.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right top, var(--wallpaper), var(--wallpaper-secondary));
  width: 100vw;
  height: 100vh;
}

.glass{
  background: #fff;
  width: 60vw;
  height: 80vh;
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  background: linear-gradient(to right bottom, rgba(255,255, 255, 0.5), rgba(255,255, 255, 0.3));
}

.glassLogin{
  background: #fff;
  width: 500px;
  height: 600px;
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  background: linear-gradient(to right bottom, rgba(255,255, 255, 0.5), rgba(255,255, 255, 0.3));
}
.circle1, .circle2{
  background: #fff;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1{
  top: 5%;
  right: 15%;
}

.circle2{
  bottom: 5%;
  left: 10%;
}


.itemBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6.5rem;
  margin: 0;
  padding: 0;
}

.title{
  margin: 0;
  padding: 0;
}

.years{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.days{
  margin: 0;
  padding: 0;
}

.achievements{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.listItem, .listItemYear{
  margin-bottom: 0.6rem;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4),
   rgba(255, 255, 255, 0.3));
}

.listItem2{
  display: none;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .itemYear{
  margin: 0;
  padding: 0;
  font-size: 32px;
}

.listItemYear{
  background: linear-gradient(to right top, rgba(92, 0, 128, 0.2), rgb(29, 131, 190, 0.2));
}

.itemDone{
  margin: 0;
  padding: 0;
  font-size: 32px;
  color: var(--text);
  text-decoration-line: line-through;
}

.date1, .date2, .date3, .date4, .date5, .date6, .date7, .date8, .date9, .date10, .date11, .dateYear{
  font-size: 18px;;
}

.dateDone{
  font-size: 18px;;
  color: var(--text);
  text-decoration-line: line-through;
}

.addMore{
  transition: 500ms;
  /* display: flex; */
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: var(--title);
  height: 2.4rem;
  width: 8rem;

  bottom: 3rem;
  border: none;
  
  padding: none;
  border-radius: 50px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.addMore:hover{
  transition: 500ms;
  background-color: var(--text);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.add1, .add2{
  position: absolute;
  background-color: var(--background);
  width: 1.2rem;
  height: 0.2rem;
  border-radius: 5rem;
}
.add2{
  transform: rotate(90deg);
}


.progressBarMain{
  margin: 0.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 1.8rem;
  width: 100%;
}

.progressBar{
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), 
    rgba(255, 255, 255, 0.3));
  width: 90%;
  height: 1.6rem;
  /* padding: 2px; */
  border-radius: 50px;
  /* border: 2px solid var(--text); */
}

.correntProgress{
  background: linear-gradient(33deg, rgba(255, 255, 255, 0.9) 21%, rgba(255, 255, 255, 0.7));
  height: 100%;
  border-radius: 50px;
}

.progressBarMain > p {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}

.dev{
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0;
  height: 2rem;
}

.dev > h2{
  margin-left: 10px;
}

/* .hover{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.hover > h1{
  margin: 0;
  padding: 0;
  color: #000;
}

.hover > h2{
  margin: 0;
  padding: 0;
  color: #000;
} */

.user{
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 14rem;
  height: 4rem;
  right: 2rem;
  bottom: 7rem;
  border-radius: 50px;
  background: #fff;
  backdrop-filter: blur(2rem);
  background: linear-gradient(to right bottom, rgba(255,255, 255, 0.5), rgba(255,255, 255, 0.3));
  cursor: pointer;
}

.photoUser{
  position: fixed;
  margin: 0;
  padding: 0;
  left: 7.5px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* background: #fff; */
  backdrop-filter: blur(2rem);
  background: linear-gradient(to right bottom, rgba(255,255, 255, 0.3), rgba(255,255, 255, 0.6));
}

.nameUser{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-left: 1.2rem;
}

.nameUser > p{
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.userMobile{
  display: none;
}

.loginBox{
  margin: 15px 50px;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: linear-gradient(to right bottom, rgba(255,255, 255, 0.2), rgba(255, 255, 255, 0.1));

  border-radius: 15px;
}

.loginInput{
  display: flex;
  margin: 0;
  padding-left: 10px;
  border: none;
  align-content: center;
  justify-content: center;
  height: 4rem;
  width: 18rem;
  font-weight: 500;
  font-size: 28px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  color: #0000004d;

}

.entrar{
  display: flex;
  align-content: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  margin: 40px;
  height: 60px;
  width: 300px;
  border-radius: 15px;
  transition: 1s;
  cursor: pointer;
  border: none;
}

.entrar > h2{
  margin: 0;
  padding-top: 8px;
  transition: 1s;
  color: #202020;  
}

.entrar:hover{
  transition: 1s;
  background: rgba(0, 0, 0, 0.5);
}

.entrar:hover > h2{
  transition: 1s;
  color: #f1f2f5;
}

.countdown{
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  backdrop-filter: blur(2rem);
  background: linear-gradient(to right bottom, rgba(255,255, 255, 0.5), rgba(255,255, 255, 0.3));
}

.countdown > p{
  color: #f2f3f5;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 10px;
}

.button{
  transition: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  border-radius: 15px;
  background: linear-gradient(to right top, var(--wallpaper), var(--wallpaper-secondary));
  cursor: pointer;
  box-shadow: 3px 2px 3px rgb(60, 70, 170);
}

.button > a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.button:hover{
  transition: 200ms;
  width: 310px;
  height: 45px;
  box-shadow: 4px 4px 4px rgb(60, 70, 170);
}

@media(max-width:900px){

  .pageLanding{
    margin: 0;
    padding: 0;
  }

  .main{
    
    margin: 0;
    padding: 0;
    height: 120vh;
    width: 100vw;
  }

  .glass{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 90vw;
    height: 100vh;
  }

  .circle1, .circle2{
    position: absolute;
    height: 5rem;
    width: 5rem;
  }

  .circle1{
    top: 1%;
    right: 2%;
  }

  .circle2{
    bottom: -135px;
    left: 2%;
  }

  .title{
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
  }

  .days{
    font-size: 2rem;
  }

  .achievements{
    width: 100%;
  }

  .listItem, .listItemYear{
    height: 6rem;
  }

  .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item20, .item11, .itemDone, .itemYear{
    margin-top: 0.8rem;
    font-size: 1.4rem;
  }

  .date1, .date2, .date3, .date4, .date5, .date6, .date7, .date8, .date9, .date10, .date11, .dateDone, .dateYear{
    font-size: 0.6rem;
  }

  .progressBarMain > p {
    margin: 0;
    padding: 0;
  }

  .dev > p{
    font-size: 0.8rem;
  }

  .dev > h2{
    font-size: 0.8rem;
  }

  .user{
    display: none;
  }

  .userMobile{
    display: flex;
    /* position: absolute; */
    align-items: center;  
    width: 95%;
    height: 4rem;
    border-radius: 50px;
    background: #fff;
    backdrop-filter: blur(2rem);
    background: linear-gradient(to right bottom, rgba(255,255, 255, 0.2), rgba(255,255, 255, 0.1));
  }

  .userMobile > a{
    /* position: absolute; */
    margin: 0;
    padding: 0;
    margin-left: 7.5px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* background: #fff; */
    backdrop-filter: blur(2rem);
    background: linear-gradient(to right bottom, rgba(255,255, 255, 0.3), rgba(255,255, 255, 0.6));
  }
  
  .userMobile > div{
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-direction: column; */
    margin-left: 1rem;
  }
  
  .userMobile > div > p{
    margin: 0;
    padding: 6px;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  
  /* .header{
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 6rem;
    width: 100vw;
  }
  

  

  .years{
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
  }

  .days{
    font-size: 1.4rem;
  }

  

  .list{
    width: 95vw;
  }
  
  

  /* .item1, .item2, .itemDone{
    margin-top: 0.4rem;
    font-size: 1.4rem;
  }

  .date1, .date2, .dateDone{
    font-size: 0.6rem;
  }

  .done{
    width: 7rem;
    font-size: 0.8rem;
  }

  .addMore{
    left: 33%;
    width: 33%;
    height: 2.4rem;
    bottom: 4rem;
  }

  .add1, .add2{
    width: 1.2rem;
    height: 0.2rem;
    border-radius: 5rem;
  }

  .progressBarMain{
    background: var(--background);
    position: absolute;
    width: 100vw;
    height: 1.4rem;
    border-radius: 0;
    border: none;
    box-shadow: none;
    top: 90px;
  }

  .progressBar{
    height: 1.2rem;
  }

  
*/
 
}